<library path="src">
  <class name="Multicopter Tuner" type="rqt_mc_tuner.mc_tuner.MCTuner" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python-based GUI interface to assist with tuning a multirotor flight controller
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Multicopter Tuner</label>
      <icon type="theme">system-help</icon>
      <statustip>Allows real time adjustment and testing of PID gains for a flight controller</statustip>
    </qtgui>
  </class>
</library>
